<template name="Header">
  <img style="max-height: 200px" class="ui fluid image" src="/images/header-image1.jpg">

  <div style="margin-top: 0px; border-radius: 0px; background-color: #25A574" class="ui borderless inverted menu">
    <div class="ui container">
      <div class="item">
        <h1 class="ui inverted header">
          <i class="idea icon"></i>
          <div class="content">
            CS
          </div>
        </h1>
      </div>

      {{#unless currentUser}}
        <a class="item" href="{{pathFor 'Public_Landing_Page'}}"><h1>Home</h1></a>
        <a class="{{ isActiveRoute 'Login_Page'}} item" href="{{ pathFor 'Login_Page' }}">Login</a>
      {{/unless}}

      {{#if currentUser}}
        <a class="{{ isActiveRoute 'User_Home_Page'}} item" href="{{ pathFor 'User_Home_Page' }}"><h1>Home</h1></a>
        <!--<a class="{{ isActiveRoute 'Admin_Home_Page'}} item" href="{{ pathFor 'Admin_Home_Page' }}">Admin Home</a>-->
        <a class="{{ isActiveRoute 'User_Profile_Page'}} item" href="{{ pathFor 'User_Profile_Page' }}">Profile</a>
        <a class="{{ isActiveRoute 'Create_Study_Session_Page'}} item" href="{{ pathFor 'Create_Study_Session_Page' }}">Create Study Session</a>
        <a class="{{ isActiveRoute 'Study_Session_Page'}} item" href="{{ pathFor 'Study_Session_Page' }}">Study Session</a>
        <a class="{{ isActiveRoute 'Calendar_Page'}} item" href="{{ pathFor 'Calendar_Page' }}">Calendar</a>
      {{/if}}
      <a href="#" class="item">{{> loginButtons }} </a>

      <!--<a class="{{ isActiveRoute 'Study_Session_Detail_Page'}} item" href="/study-session/123">Study Session Detail</a>-->
      <!--<a class="{{ isActiveRoute 'User_Profile_Detail_Page'}} item" href="/user-profile/chad-morita">Profile Detail</a>-->

    </div>
  </div>
</template>