body {
  padding-top: 0px;  /* Move body of page below navbar. */
  /*background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/charcoal-background.jpg");*/
  background-color: darkslategrey;
  background-repeat: no-repeat;
}

.ui.segment {
  border-radius: 0px;
}

#login-buttons a, .accounts-dialog a {
  color: white;
}

.ui.raised.card.profile {
  padding: 10px 10px 10px 10px;
}

a.login-close-text {
  color: black !important;
}